main {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.title__city {
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-transform: uppercase;

}

.tittle__date {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.today {
    width: 52vw;
    max-width: 750px;
    height: auto;
    padding: 15px 0 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
}

.today__temperature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.today__temperature>p {
    font-size: 18vw;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 3vw;

}

.today__icon {
    position: absolute;
    top: 0px;
    left: 60%
}

.today__icon>img {
    height: 15vw;
}

.today__details {
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2.5vw;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-transform: uppercase;
}

.days {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.days>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    width: 15vw;
}

.days__day-of-week {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-transform: uppercase;

}

.days__temperature {
    font-size: 80px;
    font-weight: 600;
    line-height: 98px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}


.days__icon  {
    width: 64px;
    height: 64px;
}

.days__icon >img  {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 375px;
    width: 30vw;
}

#map {
    width: 100%;
    height: 400px;
    background-image: url(../images/google.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;

}

.map__coordinates {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: right;
    color: white;
}




@media (max-width: 1200px) {
    main {
        padding-top: 75px;
    }
    .title__city {
        font-size: 40px;
        line-height:48px;
    
    }
    
    .tittle__date {
        font-size: 20px;
        line-height: 25px;
    }

    .today {
        padding: 15px 0 75px 0;
    }

    .days__temperature {
        font-size: 65px;
        line-height: 80px;
    }

    #map {
        height: 350px;
    }
  } 

  
@media (max-width: 1024px) {
    main {
        padding-top: 50px;
    }

    .title__city {
        font-size: 36px;
        line-height:44px;
    
    }
    
    .tittle__date {
        font-size: 16px;
        line-height: 20px;
    }

    .today {
        padding: 15px 0 50px 0;
    }

    .days__day-of-week {
        font-size: 16px;
        line-height: 22px;
    }

    .days__temperature {
        font-size: 40px;
        line-height: 55px;
    }

    .days__icon  {
        width: 50px;
        height: 50px;
    }

    #map{
        height: 300px;
    }
}

@media (max-width:768px) {
main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}

.today {
    width: auto;
    padding: 15px 0 25px 0;
    justify-content: space-around;
}

.today__temperature>p {
    font-size: 150px;
}

.today__icon {
    position: absolute;
    top: 0px;
    left: 60%
}

.today__icon>img {
    height: 100px;
}

.today__details {
    font-size: 12px;
    line-height: 18px;
}

.days {
    width: auto;
    align-items: center;
    justify-content: center;
}

.days>div {
width: 25%;
}

.days__day-of-week {
    font-size: 12px;
    line-height: 16px;
}

.days__temperature {
    font-size: 25px;
    line-height: 40px;
}

.days__icon  {
    width: 35px;
    height: 35px;
}

.map {
    width: 70vw;
    margin-top: 30px;
}

.map__coordinates {
    font-size: 18px;
    line-height: 26px;

}
}

@media (max-width:420px) {

    .title__city {
        font-size: 26px;
        line-height:32px;
    
    }
    
    .tittle__date {
        font-size: 14px;
        line-height: 18px;
    }

    .today__temperature>p {
        font-size: 100px;
    }

    .today__icon>img {
        height: 75px;
    }

    .today__details {
        font-size: 12px;
        line-height: 16px;
    }

    .days {
        flex-direction: column;
        width: auto;
        align-items: center;
        gap: 10px;
    }

    .days>div {
        width: 80%;
        }

    #map {
        height: 200px;
        margin-bottom: 10px;
    }

    .map__coordinates {
        font-size: 16px;
        line-height: 25px;
    }
}